.animated-bg {
    background-image:url('/assets/background3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: zoomEffect 30s infinite alternate;
  }
  
  @keyframes zoomEffect {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
  }
  
  .glass-box {
    max-width: 400px;
    width: 100%;
    backdrop-filter: blur(10px);
    background: rgb(235, 225, 225);
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 1;
  }
  
  .border-gradient {
    border: 3px solid transparent;
    border-radius: 20px;
    background-color: transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
  } 
  